@font-face {
  font-family: Estonia;
  src: url('/fonts/Estonia-Regular.otf');
}
@font-face {
  font-family: ITC;
  src: url('/fonts/itc-gorilla.otf');
}

@font-face {
  font-family: EB;
  src: url('/fonts/EBGaramond08-Regular.ttf');
}
@font-face {
  font-family: EBI;
  src: url('/fonts/EBGaramond08-Italic.ttf');
}

body {
  height: 100%;
  overflow-x: hidden;
  /*background-image: url('images/bg.png');*/
}

header {
  position: fixed;
  text-align: center;
  z-index: 50;
  font-family:EB;
}

#title {
	transition: ease-in-out 400ms;
}

h1 {
font-size: 7.1vw;
text-align: left;
margin-top: 0px;
 
}


h3 {
font-family: Estonia;
font-size: 3vw;
text-align: left;
line-height: 0;
top:0px;
}



.container1 {
  display: flex;
  height: 100vh;
  
} 


p1 {
    color: #000000;
    text-align: center;
    font-family:EBI;
    font-size: 15px;
    
}

p2 {
    color: #000000;
    text-align: center;
    font-family:EBI;
    font-size: 20px;  
}

p3 {
    color: #c4bdb6;
    font-family:EBI;
    font-size: 20px; 
    line-height: 1.2;
    margin-top: 100px;

}

p4 {
    color: #000000;
    text-align: center;
    font-family:EBI;
    font-size: 30px;  
}

p5 {
    color: #000000;
    font-family:EB;
    font-size: 20px;  
}

.container {
  display: flex;
  height: 100vh;
}


.left {
  flex: 1 auto;
  width: 50%;
  height: 90%;
  padding: 1rem 1rem;
  overflow-y: scroll;
  margin-top: 100px;
  margin-right: 7px;
  margin-left: 10px; 
  display: flex;
  align-items: flex-end;
  

    
         
}

.left-menu {
  flex: 1 auto;
  width: 50%;
  height: 30%;
  padding: 1rem 1rem;
  overflow-y: scroll;
  margin-top: 100px;
  margin-right: 7px;
  margin-left: 10px; 
  text-align: justify; 
  display: block;
  position: absolute;

}


.right {
  flex: 1 auto;
  width: 100%;
  height: 90%;
  padding: 1rem 1rem;
  overflow-y: scroll;
  /*background-color: whitesmoke;*/
  display: inline-block;
  margin-top: 100px;
  margin-left: 7px;
  margin-right: 5px;
  font-family: EB;
  font-size: 20px;
  text-align: justify;    
  line-height: 1.2;
  /*text-indent: 50px;*/


}

